<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>임시 게시글 생성 페이지</h1>
    <form action="">
        <div>
            제목 : <input type="text" name='title'/>
        </div>
        <div>
            내용 : <input type="text" name='content'/>
        </div>
        <div>
            카테고리 : <input type="text" name='category'/>
        </div>
        <div>
            <input type="submit" value="제출"/>
        </div>
        

    </form>
</body>
</html>