<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>임시 프로필 변경 페이지</h1>
    <form action="">
        <div>
            닉네임 : <input type="text" name='title'/>
        </div>
        <div>
            소개 : <input type="text" name='content'/>
        </div>
        <div>
            지역 : <input type="text" name='category'/>
        </div>
        <div>
            <input type="submit" value="변경"/>
        </div>
        

    </form>
</body>
</html>